/* :root {
    --primary: #2F3645;
    --secondary: #89877f;
    --unique: #ec7d4e;
    --white: #EEEDEB;
} */

/* :root {
    --primary: #0C1844;
    --secondary: #FF6969;
    --unique: #C80036;
    --white: #FFF5E1;
} */

/* :root {
    --primary: #45474B;
    --secondary: #379777;
    --unique: #F4CE14;
    --white: #F5F7F8;
} */

/* :root {
    --primary: #040D12;
    --secondary: #183D3D;
    --unique: #3bcf96;
    --white: #fff;
} */

:root {
    --primary: #373b40;
    --secondary: #585d65;
    --unique: #e067bc;
    --white: #fff;
}


html::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--primary);
    font-family: "Poppins", sans-serif;
    overflow: hidden;

}

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav {
    width: 100%;
    height: 10%;
}

.nav-container {
    width: 90%;
    height: 80px;
    background-color: var(--secondary);
    position: absolute;
    left: 5%;
    top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 15px;
    border-radius: 50px;
    z-index: 100;
}

.scroll {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: visible;
}

.bar {
    display: none;
}

.img {
    width: 30%;
    height: 100vh;
    position: relative;
    z-index: 1;
    /* Ensure image is behind name block */
}

.context {
    width: 62.5%;
    height: 100vh;
    z-index: 2;
    /* Ensure context is above image but below header */
}

.social-icons {
    width: 7%;
    border-left: 1px solid var(--secondary);
}

.scroll::-webkit-scrollbar {
    overflow: hidden;
    display: none;
}

.img-01 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.empty {
    width: 100%;
    height: 100px;
}

.logo {
    color: var(--white);
    font-size: 28px;
    font-weight: 800;
}

.logo-img {
    width: 36px;
}

p {
    color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
    line-height: 0.8;
}

.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round {
    width: 25px;
    height: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 1px solid var(--secondary);
    border-radius: 50%;
    margin-bottom: 20px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
}

.icon-box .q-icon .round a {
    text-decoration: none;
    color: var(--white);
}

.logo-container {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.menu-container {
    width: 60%;
}

.menu-container,
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.btn {
    width: 20%;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 800;
    margin-left: 30px;
    text-transform: uppercase;
}

.download-btn {
    padding: 20px 40px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    background-color: var(--unique);
    border-radius: 50px;
    font-size: 14px;
    color: var(--white);
    font-weight: 800;
    border: 0.5px solid var(--unique);
    cursor: pointer;
}

.download-btn:hover {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    transition: 0.6s ease;
}

.contact-btn {
    padding: 20px 40px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 50px;
    font-size: 14px;
    color: var(--white);
    font-weight: 800;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: 0.6s ease;
}

.contact-btn:hover {
    border: 1px solid var(--unique);
    background-color: var(--unique);
}

.info-container,
.about-container,
.service-container,
.experience-container,
.education-container,
.skills-container,
.project-container,
.faq-container,
.contact-container {
    padding: 70px;
    border-bottom: 1px solid var(--secondary);
    z-index: 3;
    transition: 1.4s ease;
}

.name {
    box-sizing: border-box;
    background-color: var(--primary);
    z-index: 3;
}

.name h1 {
    font-size: 4rem;
    line-height: 1.2;
}

.profession {
    font-family: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--unique);
    line-height: 3;
}

.text {
    font-size: 14px;
    line-height: 1.8;
}

.contact-block {
    margin-top: 30px;
}

.title h2 {
    font-size: 3.5rem;
}

.subtitle {
    font-family: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 4;
}

.pink {
    font-family: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--unique);
}

.row {
    width: 100%;
}

.personal-info-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-50 {
    width: 50%;
}

.info-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.ask {
    width: 40%;
    text-align: left;
}

.ans {
    width: 60%;
    text-align: left;
    color: var(--white);
    font-size: 14px;
    font-weight: 400
}

.service-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.icon-size {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--unique);
    margin-bottom: 15px;
}

.service-content {
    padding-right: 20px;
}

.mini-title {
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 30px;
}

.additional {
    position: relative;
    display: flex;
    flex-direction: row;
}

.vert-text {
    position: absolute;
    top: 35px;
    left: -30px;
    width: 20%;
    font-size: 11px;
    text-transform: capitalize;
    transform: rotateZ(90deg);
}

.arrange-title {
    width: 90%;
    position: relative;
    left: 25px;
}

.grey-bar {
    width: 100%;
    height: 5px;
    background-color: var(--secondary);
}

.pinky-bar {
    width: 80%;
    height: 5px;
    background-color: var(--unique);
}

.skills-heading {
    display: flex;
    flex-direction: row;
}

.col-100 {
    width: 100%;
}

.skills-title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.percentage {
    display: flex;
    justify-content: end;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}

.progress-bar {
    margin: 30px 0px;
}

.project-img {
    width: 300px;
    height: 300px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-project {
    background-image: url("images/Frame24.png");
    object-fit: contain;
    background-position: center;
}

.hover-block {
    width: 260px;
    height: 260px;
    background-color: var(--unique);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.6s;
}

.hover-block:hover {
    opacity: 1;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project-mini-title {
    line-height: 0.4;
}

.project-title {
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--white);
}

.faq-section {
    margin-top: 40px;
}

.faq-block {
    width: 100%;
    padding-bottom: 10px;
    cursor: pointer;
}

.b-bttm {
    border-bottom: 1px solid var(--secondary);
}

.question {
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.answer {
    padding: 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    font-weight: 200;
    letter-spacing: 0.8px;
    color: #e7e7e7;
}


.faq-block.active .answer {
    max-height: 300px;
}

.faq-block.active .question img {
    transform: rotate(180deg);
}

.question img {
    transition: transform 0.3s ease-in-out;
}

.contact-section {
    width: 100%;
    margin-top: 40px;
}

input {
    border-radius: 50px;
}

textarea {
    border-radius: 20px;
}

input,
textarea {
    outline: none;
    padding: 20px;
    border: 1px solid var(--secondary);
    background-color: transparent;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: var(--white);
    font-weight: 300;
    letter-spacing: 0.5px;
}

input:focus,
textarea:focus {
    border: 1px solid var(--unique);
}

.ipt-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-bottom: 20px;
}

.ipt-block label {
    margin-left: 25px;
}

.contact-title {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--white);
    font-weight: 800;
}

.submit-block {
    margin-top: 20px;
}

.download-btn a{
    color: white;
    text-decoration: none;
}

.small-title{
    padding-top: 7px;
    line-height: 2;
}

/* Mobile Header  */



@media (max-width: 992px) {

    body{
        overflow: visible;
    }

    .background {
        width: 100%;
        height: auto;
    }

    .img {
        width: 100%;
        height: 80vh;
    }

    .img-01 {
        width: 100%;
        height: 100%;
    }

    .context {
        width: 100%;
        height: auto;
    }

    .scroll {
        width: 100%;
        height: auto;
        overflow: visible;
    }

    .nav {
        width: 100%;
        height: 0;
    }

    .nav-container {
        position: absolute;
        left: 3.5%;
    }

    .menu, .download-btn {
        display: none;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bar {
        display: block;
        cursor: pointer;
    }

    .empty {
        display: none;
        visibility: none;
    }

    .info-container,
    .about-container,
    .service-container,
    .experience-container,
    .education-container,
    .skills-container,
    .project-container,
    .faq-container,
    .contact-container {
        padding: 50px;
        border-bottom: 1px solid var(--secondary);
        z-index: 3;
        transition: 1.4s ease;
    }

    .social-icons {
        width: 100%;
        height: auto;
        border: none;
    }

    .q-icon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    .round {
        width: 20px;
        height: 20px;
        padding: 10px;
    }

}

@media (max-width: 625px) {
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .col-50 {
        width: 100%;
        height: auto;
    }

    .project-img {
        width: 100%;
        height: 100%;
        background-color: var(--secondary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .img {
        width: 100%;
        height: 55vh;
    }

    .img-01 {
        width: 100%;
        height: 100%;
    }

    .nav-container {
        width: 80%;
        height: 50px;
        position: absolute;
        left: 7%;
    }

    .logo {
        font-size: 22px;
    }

    .logo-img {
        width: 25px;
    }

    .info-container,
    .about-container,
    .service-container,
    .experience-container,
    .education-container,
    .skills-container,
    .project-container,
    .faq-container,
    .contact-container {
        padding: 30px;
        border-bottom: 1px solid var(--secondary);
        z-index: 3;
        transition: 1.4s ease;
    }

    .name h1 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .title h2 {
        font-size: 2.8rem;
    }

    .subtitle {
        font-family: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--unique);
    }
}